*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

:root{
    --blue: 130,204,241;
    --pink: 216,166,203;
    --yellow: 239,198,106;
    --purple-pink: 197,157,206;
    --purple: 153,150,203;
    --dark-purple:#5f5d7e;
}

body{
    background: -prefix-linear-gradient(190deg, rgba(var(--blue),.7), rgba(var(--pink),.7));
    background: linear-gradient(190deg,rgba(var(--blue),.7), rgba(var(--pink),.7));
    font-family: 'Tangerine', cursive;
    font-size: 1.5rem;
}

.container{
    display: grid;
    grid-template: 8rem 1fr/20% 80%;
    grid-template-areas: "header header"
    "aside mainSection";
    height: 100vh;
}
@media (max-width:800px) {
    .container{
        grid-template: 7% 8% 75%/100%;
        grid-template-areas: "header"
        "aside"
        "mainSection";
    }
    body{
        height:150vh;
    }
}




